<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ALLERGENIC FORM</title>
</head>
<body>
<h1>ALLERGENIC FORM</h1>
<form action="#" th:action="@{/saveallergenic}" th:object="${allergenicDTO}" method="POST">
    <table border="2">
        <tr>
            <td><label>Name</label></td>
            <td><label>Effect</label></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{name}" placeholder="name"></td>
            <td><input type="text" th:field="*{effect}" placeholder="effect"></td>
            <td><button type="submit">save</button></td>
        </tr>
    </table>
</form>
</body>
</html>