<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ALLERGENIC FORM</title>
</head>
<body>
<h1>FOOD PROPERTIES FORM</h1>
<form action="#" th:action="@{/addfoodform}" th:object="${foodProperties}" method="POST">
  <table border="2">
    <tr>
      <td><label>Number of Ingredients</label></td>
      <td><label>Number of Allergens</label></td>
    </tr>
    <tr>
      <td><input type="number" th:field="*{numOfIngredients}"></td>
      <td><input type="number" th:field="*{numOfAllergens}"></td>
      <td><button type="submit">save</button></td>
    </tr>
  </table>
</form>
</body>
</html>