<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>FOOD FORM</title>
</head>
<body>
<h1>FOOD FORM</h1>
<form action="#" th:action="@{/saveFood}" th:object="${foodFormData}" method="POST">
  <table>
      <tr>
          <td><input th:field="*{name}" placeholder="name of food"></td>
      </tr>
  </table>
  <table border="2">
    <tr>
        <h2>Choose allergens!</h2>
        <td th:each="i : *{allergensArray}">
<!--            multiple="multiple"-->
            <select th:field="*{allergensArray}" >
                <option th:each="i : *{allergens}" th:value="${i.getId}"  th:text="${i.getName()}"></option>
            </select>
        </td>
    </tr>
  </table>
    <table>
        <tr>
            <h2>Choose ingredients!</h2>
            <td th:each="i : *{IngredientIdArray}">
                <select th:field="*{IngredientIdArray}">
                    <option th:each="i : *{ingredients}" th:value="${i.getId}" th:text="${i.getName()}"></option>
                </select>
            </td>
        </tr>
    </table>
    <button type="submit">save food</button>
</form>
</body>
</html>