<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>EMPLOYEE CREATE</h1>
<br>
<form action="#" th:action="@{/assignemptodep}" method="POST">
    <table border="2">
        <tr>
            <td><label>Name</label></td>
            <td><label>Raise</label></td>
            <td><label>Choose Department</label></td>
        </tr>
        <tr>
            <td><input type="number" th:field="${employeeDTO.id}" th:text="${employeeDTO.name}"></td>
            <td><input type="number" th:field="${employeeDTO.salary}" th:if="${hasRightForRaise}"></td>
            <td>
                <select th:name="department_id">
                    <option th:each="d : ${departmentDTOSet}"
                            th:text="${d.name}"
                            th:name="department_id"
                            th:value="${d.id}">
                    </option>
                </select>
            </td>
            <td><button type="submit">save</button></td>
        </tr>
    </table>
</form>
</body>
</html>