<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="2">
    <tr>
        <td><label>Name</label></td>
        <td><label>Birth year</label></td>
        <td><label>Start year</label></td>
        <td><label>Last raise year</label></td>
        <td><label>Salary</label></td>
    </tr>
    <tr th:each="instance : ${employeeListView.employeeMap}">
        <td><label type="text" th:text="${instance.key.name}"></label><span th:if="${instance.value}"> (!)</span></td>
        <td><label type="number" th:text="${instance.key.birthYear}"></label></td>
        <td><label type="number" th:text="${instance.key.startYear}"></label></td>
        <td><label type="number" th:text="${instance.key.lastRaiseYear}"></label></td>
        <td><label type="number" th:text="${instance.key.salary}"></label></td>
    </tr>
</table>
</body>
</html>