<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="2">
    <tr>
        <td><label>Name</label></td>
        <td><label>Birth year</label></td>
        <td><label>Start year</label></td>
        <td><label>Last raise year</label></td>
        <td><label>Salary</label></td>
    </tr>
    <tr th:each="e : ${employeeDTOSet}">
        <td><label type="text" th:text="*{e.name}"></label></td>
        <td><label type="number" th:text="*{e.birthYear}"></label></td>
        <td><label type="number" th:text="*{e.startYear}"></label></td>
        <td><label type="number" th:text="*{e.lastRaiseYear}"></label></td>
        <td><label type="number" th:text="*{e.salary}"></label></td>
    </tr>
</table>
</body>
</html>